<h1>Make a new cat</h1>
<form action="/cats" method="post">
  
  <label for="cat_name">First name</label>
  <input name="cat[name]" id="cat_name", type="text">
  <br>
  
  <label for="cat_birth_date">Birth Date</label>
  <input name="cat[birth_date]", type="text">
  <br>
  
  <label>Sex</label>
  <div>
    <input name="cat[sex]" id="cat_sex_m" type="radio" value="M">
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" value="F">
    <label for="cat_sex_f">Female</label>
  </div>
  <br>
  
  <label for="cat_description">Description</label>
  <textarea name="cat[description]" id="cat_description"></textarea>
  <br>
  
  <label for="cat_coat_color">Coat color</label>
  <select name="cat[coat_color]">
    <option value="brown">Brown</option>
    <option value="black">Black</option>
    <option value="white">White</option>
    <option value="orange">Orange</option>
    <option value="yellow">Yellow</option> 
  </select>
  <br>
    
 <input type="submit" value="Build my cat">
</form>